//
// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
//
// // Variables
// @import 'variables';
//
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

$color:#005400;

nav {
    width: 100%;
    display: flex;
    // display: -ms-flexbox;
    // -ms-flex-pack:distribute;
    justify-content: space-around;
}

.active{
    text-decoration: none;
    color:$color;
}

.error{
        color:red;
        font-size: 12px;
}
